<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/index.css">
    </head>
    <body>
        <title>Nucleya</title>
        <div class="hero">
            <nav>
                <a href="{{url_for('index')}}"><img src="../static/assets/MetronomiaLogopng.png" alt="Logo" width="200" height="100"></a>
                <ul>
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('artists')}}">Artists</a></li>
                    <li><a href="" style="color: #ADFF2F;">Albums</a></li>
                    <li><a href="{{url_for('about')}}">About Us</a></li>
                    <li><a href="{{url_for('search')}}">Search</a></li>
                    <li><a href="{{url_for('spotlight')}}">Artist Spotlight</a></li>
                    <li><a href="{{url_for('playlist')}}">Your Playlist</a></li>
                </ul>
            </nav>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="container">
            <img src="../static/assets/nucleya.jpg" style="float:left;width:15%;border-radius:50%;"alt="image">
            <div class="text">
                <p style="font-size: 50px;">Nucleya<br/><span class="smallheadtext">Albums</span></p>
            </div>
        </div>
        <table style="width: 90%; text-align:center; font-size:16px; margin-left:auto; margin-right:auto; border-spacing:20px">
            <tr>
                <td><a href="{{url_for('Tota_Myna')}}"><img src="../static/assets/totamyna.png"></a><br/>
                    <div style="font-size:22px"><a href="album22-songs.html" style="color:lightgrey; text-decoration:none;">Tota Myna</a></div>
                    6 songs<br/>
                    2019<br/>
                </td>
                <td><a href="{{url_for('Bass_Rani')}}"><img src="../static/assets/basrani.png"></a><br/>
                    <div style="font-size:22px"><a href="album21-songs.html" style="color:lightgrey; text-decoration:none;">Bass Rani</a></div>
                    7 songs<br/>
                    2015<br/>
                </td>
                <td><a href="{{url_for('Koocha_Monster')}}"><img src="../static/assets/koochamonster.png"></a><br/>
                    <div style="font-size:22px"><a href="album23-songs.html" style="color:lightgrey; text-decoration:none;">Koocha Monster</a></div>
                    6 songs<br/>
                    2013<br/>
                </td>
            </tr>
        </table>
        <table style="width: 60%; text-align:center; font-size:16px; margin-left:auto; margin-right:auto; border-spacing:20px">
            <tr>
                <td><a href="{{url_for('In_My_Heart_Remixes')}}"><img src="../static/assets/inmyheart.png"></a><br/>
                    <div style="font-size:22px"><a href="album24-songs.html" style="color:lightgrey; text-decoration:none;">In My Heart Remixes</a></div>
                    5 songs<br/>
                    2012<br/>
                </td>
                <td><a href="{{url_for('Horn_Ok_Please')}}"><img src="../static/assets/hornokplease.png"></a><br/>
                    <div style="font-size:22px"><a href="album25-songs.html" style="color:lightgrey; text-decoration:none;">Horn Ok Please</a></div>
                    7 songs<br/>
                    2010<br/>
                </td>
            </tr>
        </table>
        <footer>
            <hr style="width: 90%; text-align: center;">
            <p>Created with you in mind by <b><a href="{{url_for('about')}}" style="color:white;text-decoration:none;">Archit Narwadkar</a></b> and <b><a href="{{url_for('about')}}" style="color:white;text-decoration:none;">Chirag Dhamija</a></b>.</p>
            <p>Metronomia © 2023</p>
        </footer>
    </body>
</html>