<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/index.css">
    </head>
    <body>
        <title>Raghu Dixit</title>
        <div class="hero">
            <nav>
                <a href="{{url_for('index')}}"><img src="../static/assets/MetronomiaLogopng.png" alt="Logo" width="200" height="100"></a>
                <ul>
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('artists')}}">Artists</a></li>
                    <li><a href="{{url_for('Raghu_Dixit')}}" style="color: #ADFF2F;">Albums</a></li>
                    <li><a href="{{url_for('about')}}">About Us</a></li>
                    <li><a href="{{url_for('search')}}">Search</a></li>
                    <li><a href="{{url_for('spotlight')}}">Artist Spotlight</a></li>
                    <li><a href="{{url_for('playlist')}}">Your Playlist</a></li>
                </ul>
            </nav>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="container">
            <img src="../static/assets/raghu dixit.png" style="float:left;width:15%;border-radius:50%;"alt="image">
            <div class="text">
                <p style="font-size: 50px;">Raghu Dixit<br/><span class="smallheadtext">Albums</span></p>
            </div>
        </div>  
        <table style="width: 60%; text-align:center; font-size:16px; margin-left:auto; margin-right:auto; border-spacing:40px">
            <tr>
                <td><a href="{{url_for('Courtyard_Jam_Sessions')}}"><img src="../static/assets/CourtyardJamSessions.png"></a><br/>
                    <div style="font-size:22px"><a href="album64-songs.html" style="color:lightgrey; text-decoration:none;">Courtyard Jam Sessions</a></div>
                    12 songs<br/>
                    2019<br/>
                </td>
                <td><a href="{{url_for('Antaragni')}}"><img src="../static/assets/Antaragni.png"></a><br/>
                    <div style="font-size:22px"><a href="album61-songs.html" style="color:lightgrey; text-decoration:none;">Antaragni</a></div>
                    8 songs<br/>
                    2017<br/>
                </td>
            </tr>
            </table>
            <table style="width: 60%; text-align:center; font-size:16px; margin-left:auto; margin-right:auto; border-spacing:40px">
            <tr>
                <td><a href="{{url_for('Raghu_Dixit_Unplugged')}}"><img src="../static/assets/RaghuDixitUnplugged.png"></a><br/>
                    <div style="font-size:22px"><a href="album63-songs.html" style="color:lightgrey; text-decoration:none;">Raghu Dixit Unplugged</a></div>
                    8 songs<br/>
                    2012<br/>
                </td>
                <td><a href="{{url_for('Jag_Changa')}}"><img src="../static/assets/JagChagna.png"></a><br/>
                    <div style="font-size:22px"><a href="album62-songs.html" style="color:lightgrey; text-decoration:none;">Jag Changa</a></div>
                    8 songs<br/>
                    2013<br/>
                </td>
            </tr>
        </table>
        <footer>
            <hr style="width: 90%; text-align: center;">
            <p>Created with you in mind by <b><a href="{{url_for('about')}}" style="color:white;text-decoration:none;">Archit Narwadkar</a></b> and <b><a href="{{url_for('about')}}" style="color:white;text-decoration:none;">Chirag Dhamija</a></b>.</p>
            <p>Metronomia © 2023</p>
        </footer>
    </body>
</html>